#datas{
    display: flex;
    gap: 5px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.404);
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#deleteButton{
    background-color: transparent;
    padding: 0;
}

#deleteButton:hover{
    background-color: rgb(231, 0, 0);
}

button{
    background-color: aquamarine;
    border: none;
    border-radius: 13px;
    padding: 5px;
}

button:hover{
    background-color: rgb(67, 156, 127);
    cursor: pointer;
}

#admin{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
fieldset{
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: start;
    align-items: center;
    gap: 20px;
    border-color: white;
    border-style: dashed;
}

fieldset button, fieldset input{
    width: 120px;
}