
  <header>
      <button (click)="changeMostrarConsultas()">Clique aqui para ver os horários disponivéis!</button>
      <button (click)="changeAreaDoAdm()">Área do Administrador</button>
  </header>
  
  <div *ngIf="mostrarConsultas" id="dias">
    <div *ngFor="let dia of diasRestantes; let i = index">
      <button (click)="changeMostrarConsultas2(i)">{{dia.diaSemana}}</button>
      
      <div *ngIf="dia.mostrar">
        <app-render-date [data]="dia.data">
        </app-render-date>
      </div>
    
      
    </div>
  </div>

  <div *ngIf="areaDoAdm">
    <app-adm-area></app-adm-area>
  </div>

